name: Upload Python Package

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11' # This fixes the networkx error

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build
        # Changed from 2.10.0 to 2.8.0 to match the public registry
        pip install torch>=2.8.0
        pip install pyg_lib torch_scatter torch_sparse torch_cluster torch_spline_conv -f https://data.pyg.org/whl/torch-2.8.0+cpu.html
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Build package
      run: python -m build

    - name: Upload artifacts to Release
      uses: softprops/action-gh-release@v1
      with:
        files: dist/*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}